* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: 'open sans', sans-serif;
    color: black;
    font-size: 30px;
   }

nav {
    /* background-color: #000; */
    /* align-self: stretch; */
    width: 95%;
    /* max-width: 1024px; */
    margin-bottom: 90px;
    padding: 30px;
    border-bottom: 2px solid black;
}

.cars {
    background-color: #ddd;
    width: 95%;
    max-width: 1024px;
    height: 100vh;
    /* flex-basis: 100vh; */
}
.car {
    border: 2px solid black;
    margin: 35px 0;
    padding: 30px 50px 190px 30px ;
    /* background-color: black; */
}