/* font-family: 'Open Sans', sans-serif; */
/* color  #3D84A8 */

*,h1,h2,h3,h4,h5,h6,p,ul,a {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #666;

    /* for sticky footer */

    /* display: flex;
    flex-direction: column;
    min-height: 100vh; */
}

